<%- include('../essentials/adminHeader') %>
  <%- include('../essentials/adminLayout') %>
  
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Category</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin/panel">Home</a></li>
          <li class="breadcrumb-item active">category</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    
    <div class="d-flex justify-content-center ">
      <div class="col-12 col-lg-9">
        <div class="card info-card sales-card mb-2">
          <div class="card-body">
            <div class="container mt-3 ">
              <div class="d-flex justify-content-between">
                  <h1 class="icons">Categories</h1>
                  <a href="/admin/addcategory">
                      <button class="btn btn-success">ADD CATEGORY</button>
                  </a>
              </div>
              
              <hr>
              <div class="justify-content-between my-3 row gy-3">
                <% cat.forEach((row,index)=>{ %>
                <div class="col-9"><%=row.Name %></div>
                <div class="col-3 d-flex justify-content-between">
                  <a href="/admin/editcategory/<%= row._id %>">
                    <button  class="btn btn-primary rounded-pill ">EDIT</button>
                  </a>
                  
                  <a href="/admin/category/delete/<%= row._id %>">
                    <button  class="btn btn-danger  rounded-pill">REMOVE</button>
                  </a>
                  
                </div>
                <% }) %>
             
                
              </div>
             
        
             
                
            </div>
          </div>
        </div> 
      </div>
    </div>
  </main>

    <!-- ======= Footer ======= -->
 <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

 
  <!-- JS File -->
 
<%- include('../essentials/adminFooter') %>