<%- include('../essentials/adminHeader') %>
  <%- include('../essentials/adminLayout') %>
  
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Orders</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin/panel">Home</a></li>
          <li class="breadcrumb-item active">Orders</li>
        </ol>
      </nav>
      
      
    </div><!-- End Page Title -->
    <div class="d-flex justify-content-end ">
      <button type="button" class="btn btn-primary mb-3 " data-bs-toggle="modal" data-bs-target="#couponModal" style="font-weight: bold;">
        Add coupon
      </button>
    </div>
    <% if(coupon){%>
    <table class="table table-bordered table-hover mt-3">
      <thead class="table-dark">
          <tr class="text-center ">
              <th style="width: 70px;">Sl no.</th>
              <th>code</th>
              <th>discount</th>
              <th>start date</th>
              <th>Expiry date</th>
              <th style="width: 150px;">Status</th>
              <th style="width: 160px;">Action</th>
          </tr>
      </thead>
      <tbody class="align-middle text-center ">
        <% coupon.forEach((row,index)=>{ %>
        <tr>
          <td>
            <%=  index+1 %>
          </td>
          <td>
            <%= row.code %>
          </td>
          <td>
            <%= row.discount  %>
          </td>
          <td><%= row.start.toJSON().slice(0,10) %></td>
          <td><%= row.expire.toJSON().slice(0,10) %></td>
          <td><%= row.status %></td>
          <td>
            
              <button type="button" class="btn btn-secondary  mb-3 rounded-pill" data-bs-toggle="modal" data-bs-target="#couponEditModal<%= row._id%>" style="font-weight: bold;">
                Edit
              </button>
              <a href="/admin/coupons/delete/<%= row._id%>">
                <button type="button" class="btn btn-danger  mb-3 rounded-pill" data-bs-toggle="modal" data-bs-target="#couponEditModal" style="font-weight: bold;">
                  Delete
                </button>
              </a>
           
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table> 
    <% }  %>

    <% coupon.forEach((row)=>{%>
    <div class="modal fade" id="couponEditModal<%= row._id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Edit coupon</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                               
            <form action="/admin/coupons/edit/<%= row._id %>" method="post">
              <div class="form-group">
                <label for="code">code:</label>
                <input type="text" name="code" class="form-control bg-light" id="code"
                    value="<%= row.code %>"/>
              </div>
              <div class="form-group">
                <label for="count">count:</label>
                <input type="text" name="count" class="form-control bg-light" id="count"
                value="<%= row.couponCount %>"/>
              </div>
              <div class="form-group">
                <label for="discount">discount:</label>
                <input type="number" name="discount" class="form-control bg-light" id="discount"
                value="<%= row.discount %>"/>
              </div>
              <div class="form-group">
                <label for="minPurchase">minPurchase:</label>
                <input type="number" name="minPurchase" class="form-control bg-light" id="minPurchase"
                value="<%= row.minPurchase %>"/>
              </div>
              <div class="form-group">
                <label for="maxPurchase">maxPurchase:</label>
                <input type="number" name="maxPurchase" class="form-control bg-light" id="maxPurchase"
                value="<%= row.maxPurchase %>"/>
              </div>
              <div class="form-group">
                <label for="start">start date:</label>
                <input type="date" name="start" class="form-control bg-light" id="start"
                value="<%= row.start.toJSON().slice(0,10) %>" required/>
              </div>
              <div class="form-group">
                <label for="expire">expire date:</label>
                <input type="date" name="expire" class="form-control bg-light" id="expire"
                value="<%= row.expire.toJSON().slice(0,10) %>" required/>
              </div>
            
              <div class="d-flex justify-content-center mb-3">
                <button type="submit" class="btn btn-primary mt-3 mb-0">Edit Coupon</button>
              </div>
            </form>
           
          </div>
          
        </div>
      </div>
    </div>
    <% }) %>
    <div class="modal fade" id="couponModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Create new coupon</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                               
            <form action="/admin/coupons/addcoupon" method="post">
              <div class="form-group">
                <label for="code">code:</label>
                <input type="text" name="code" class="form-control bg-light" id="code"
                    placeholder="Enter the code" required />
              </div>
              <div class="form-group">
                <label for="count">count:</label>
                <input type="text" name="count" class="form-control bg-light" id="count"
                    placeholder="Enter the count" required />
              </div>
              <div class="form-group">
                <label for="discount">discount:</label>
                <input type="number" name="discount" class="form-control bg-light" id="discount"
                    placeholder="Entre discount" required />
              </div>
              <div class="form-group">
                <label for="minPurchase">minPurchase:</label>
                <input type="number" name="minPurchase" class="form-control bg-light" id="minPurchase"
                    placeholder="Enter the minPurchase" required />
              </div>
              <div class="form-group">
                <label for="maxPurchase">maxPurchase:</label>
                <input type="number" name="maxPurchase" class="form-control bg-light" id="maxPurchase"
                    placeholder="Enter the maxPurchase" required />
              </div>
              <div class="form-group">
                <label for="start">start date:</label>
                <input type="date" name="start" class="form-control bg-light" id="start"
                    placeholder="Enter start" required />
              </div>
              <div class="form-group">
                <label for="expire">expire date:</label>
                <input type="date" name="expire" class="form-control bg-light" id="expire"
                    placeholder="Enter the expire" required />
              </div>
              <div class="d-flex justify-content-center mb-3">
                <button type="submit" class="btn btn-primary mt-3 mb-0">Add Coupon</button>
              </div>
            </form>
           
          </div>
          
        </div>
      </div>
    </div>

    </main>
    <!-- ======= Footer ======= -->
  

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

 
  <!-- Template Main JS File -->
<%- include('../essentials/adminFooter') %>