<%- include('../essentials/adminHeader') %>
  <%- include('../essentials/adminLayout') %>

  
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Category</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin/panel">Home</a></li>
          <li class="breadcrumb-item active">category</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <div class="d-flex"></div>
    <div class="container mt-3">
      <div class="d-flex justify-content-between">
          <h1 class="icons">Categories</h1>
      </div>
      
      <hr>
    </div>
    <div class="container">
      <div class="row">
          <div class="col-md-6 mx-auto">
              <h3 class="mt-5 text-center ">EDIT CATEGORY</h3>
              
              <form action="/admin/editcategory/<%= cat._id  %>" method="post"  class="icons p-3" onsubmit="return validateForm()">
                <div class="py-2">
                  <label for="categoryname">Category Name:</label>
                  <input
                      type="text"
                      name="Name"
                      class="form-control"
                      id="categoryName"
                      placeholder="Enter Category name"
                      value="<%= cat.Name %>"
                      required
                  />
                </div>
                  <button type="submit" class="btn btn-primary mt-3">Edit Category</button>
                  <button type="reset" class="btn btn-danger mt-3">Clear</button>
              </form>
          </div>
      </div>
  </div>
    <!-- ======= Footer ======= -->
 

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

 
  <!-- Template Main JS File -->
  <script>
    function validateForm() {
    const inputs = document.querySelectorAll('form input[required]');
    
    for (const input of inputs) {
      input.dispatchEvent(new Event('input'));
      if (input.nextElementSibling.textContent) {
        return false;
      }
    }

    return true;
  }
  </script>
<%- include('../essentials/adminFooter') %>