<%- include('../essentials/adminHeader') %>
  <%- include('../essentials/adminLayout') %>
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Orders</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin/panel">Home</a></li>
          <li class="breadcrumb-item"><a href="/admin/orders">Orders</a> </li>
          <li class="breadcrumb-item active">order details</li>
        </ol>
      </nav>
      
      
    </div><!-- End Page Title -->
    <section class="section dashboard">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-xxl-12 col-md-12 mb-0 ">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <h5 class="card-title mb-0 ">Delivery Address</h5>
                  <div class="d-flex justify-content-start ">
                    <div class="fw-bold ">
                      <div>Name</div>
                      <div>Street </div>
                      <div>Pincode  </div>
                      <div>City</div>
                      <div>State </div>
                      <div>Mobile</div>
                    </div>
                    <div class="px-3 ">
                      <div>:</div>
                      <div>:</div>
                      <div>:</div>
                      <div>:</div>
                      <div>:</div>
                      <div>:</div>
                    </div>
                    <div>
                      <div><%= address.name  %></div>
                      <div><%= address.street  %></div>
                      <div><%= address.pincode  %></div>
                      <div><%= address.city  %></div>
                      <div><%= address.state  %></div>
                      <div><%= address.mobile  %></div>
                    </div>
                  </div>
                  
                  
                </div>
                
                <table class="table table-bordered table-hover mt-1">
                  <thead class="table-dark">
                      <tr class="text-center ">
                          <th style="width: 400px;">Product</th>
                  
                          <th>Quantity</th>
                          <th>Total</th>
                          
                          <th>status</th>
                          <th>action</th>
                          <th>Payment</th>
                      </tr>
                  </thead>
                  <tbody>
                    <% items.forEach((row,index)=>{ %>
                    <tr class="align-middle text-center ">
                      <td>
                        <div class="d-flex align-items-center ">
                          <img src="/images/<%= row.image %>" alt="" style="width: 80px;">
                          <div>
                            <%= // ${'hello product name'}%>
                          helo
                          </div>

                        </div>
                        
                      </td>
              
                      <td><%= row.quantity %></td>
                      <td><%= row.price*row.quantity %></td>
                      
                      <% if(row.status === 'Order Placed'){%>
                        <td>
                          <div class="badge bg-primary rounded-pill">
                            <%= row.status  %>
                          </div>
                        </td>
                        <td>
                          <form id="myForm" action="/admin/orders/changestatus/<%= row._id %>" method="post">
                            <select class="form-select " name="status" id="status" onchange="this.form.submit()" >
                              <option value="action">action</option>
                              <option value="confirmed">confirmed</option>
                              <option value="shipped">shipped</option>
                              <option value="delivered">delivered</option>
                            </select>
                          </form>
                        </td>
                      <% }else if(row.status === 'confirmed'){ %>
                        <td>
                          <div class=" badge bg-warning rounded-pill">
                            <%= row.status  %>
                          </div>
                        </td>
                        <td>
                          <form id="myForm" action="/admin/orders/changestatus/<%= row._id %>" method="post">
                            
                                <select class="form-select " name="status" id="status" onchange="this.form.submit()" >
                                  <option value="action">action</option>
                                  <option value="shipped">shipped</option>
                                  <option value="delivered">delivered</option>
                                </select>
                          </form>
                        </td>
                      <%}else if(row.status === 'shipped'){ %>
                        <td>
                          <div class="badge bg-info rounded-pill">
                            <%= row.status  %>
                          </div>
                        </td>
                        <td>
                          <form id="myForm" action="/admin/orders/changestatus/<%= row._id %>" method="post">
                            <select class="form-select " name="status" id="status" onchange="this.form.submit()" >
                              <option value="action">action</option>
                              <option value="delivered">delivered</option>
                            </select>
                          </form>
                        </td>
                      <% }else if(row.status === 'delivered'){ %>
                        <td>
                          <div class="badge bg-success rounded-pill p-2 bg-opacity-25 text-success ">
                            <%= row.status  %>
                          </div>
                        </td>
                        <td>
                          no action
                        </td>
                      <% }else if(row.status === 'cancelled'){ %>
                        <td>
                          <div class="badge bg-danger rounded-pill">
                            <%= row.status  %>
                          </div>
                        </td>
                        <td>
                          no action
                        </td>
                      <% }else if(row.status === 'returned'){ %>
                        <td>
                          <div class="badge bg-danger rounded-pill">
                            <%= row.status  %>
                          </div>
                        </td>
                        <td>
                          no action
                        </td>
                      <% }else if(row.status === 'return request'){ %>
                        <td>
                          <div class="badge bg-danger rounded-pill">
                            <%= row.status  %>
                          </div>
                        </td>
                        <td>
                          <button type="button" class="btn btn-warning"   data-bs-toggle="modal" data-bs-target="#returnReason<%= row._id %>">
                            return
                          </button>
                        </td>
                      <% }else{%>
                        <td>
                          <div class="badge bg-danger rounded-pill">
                            <%= row.status  %>
                          </div>
                          <td>
                            no action
                          </td>
                        </td>
                      <% }  %>
                      <td>
                        <% if(row.paymentStatus === 'success'){%>
                          <span class="badge bg-success p-2 bg-opacity-25 text-success rounded-pill  ">
                            <%= row.paymentStatus %>
                          </span>
                          <% }else if(row.paymentStatus === 'pending'){%>
                            <span class="badge bg-warning p-2 bg-opacity-25 text-black  rounded-pill ">
                              <%= row.paymentStatus %>
                            </span>
                          <% }else{ %>
                            <span class="badge bg-danger p-2 bg-opacity-25 text-danger  rounded-pill ">
                              <%= row.paymentStatus %>
                            </span>
                          <% }  %>
                      </td>
                    </tr>
                   
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div><!-- End Sales Card -->
          </div>
        </div><!-- End Left side columns -->
      </div>
    </section>
    <% items.forEach((row,index)=>{ %>
      <div class="modal fade" id="returnReason<%= row._id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="/admin/orders/returnorder/<%= row._id %>" method="post">
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Return Reason</label>
                  <input type="text" class="form-control" name="return" id="recipient-name" value="<%= row.returnReason %>" disabled >
                </div>
                <button type="submit" class="btn btn-primary" value="approve" name="approve">approve</button>

                <button type="submit" class="btn btn-danger " value="reject" name="reject">Reject</button>
           
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              
              
            </div>
          </div>
        </div>
      </div>
    <% })  %>

    <!-- ======= Footer ======= -->
  

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
 
  <!-- Template Main JS File -->
 
<%- include('../essentials/adminFooter') %>