<%- include('../essentials/adminHeader') %>

  <link rel="stylesheet" href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css" />
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>

  <%- include('../essentials/adminLayout') %>

  
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Orders</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin/panel">Home</a></li>
          <li class="breadcrumb-item active">Orders</li>
        </ol>
      </nav>
      
      
    </div><!-- End Page Title -->
    <% if(orders){%>
    <table class="table table-bordered table-hover mt-3" >
      <thead class="table-secondary ">
          <tr class="text-center">
              <th>Order Id</th>
              <th>User Name</th>
              <th>items</th>
              <th>Amount</th>
              <th>Order Date</th>
              <th >Payment Status</th>
              <th>Details</th>
              
          </tr>
      </thead>
      
      <tbody>
        
        <% orders.forEach((row,index)=>{ %>
        
          <tr class="align-middle text-center ">
            <td><%= index+1 %></td>
            <td><%=  row.userId.name %></td>
            <td><%= row.items.reduce((acc,item)=>acc+=item.quantity,0) %></td>
            <td><%= row.totalPrice.toLocaleString('hi') %></td>
            <td><%= row.orderDate.toJSON().slice(0,10) %>,<%= row.orderDate.toJSON().slice(11,16) %>
            </td>
            <td><%= row.paymentMethod  %></td>
            <td>
              <a href="/admin/orderdetails/<%= row._id %>">
                <button class="btn btn-secondary ">
                  order details
                </button>
              </a>
              
            </td>
            
            
          </tr>
       
        
        <% }) %>
        
      </tbody>
    </table> 
    <% }  %>


    <!-- ======= Footer ======= -->
  

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <!-- Template Main JS File -->
    <script src="https://cdn.datatables.net/2.0.2/js/dataTables.js" defer></script>
  <script>
    $(document).ready(() => {
      $("table").DataTable({
        order: [0, 'asc'],
        columnDefs: [{
          targets: [0, 2, 3],
          className: "text-center"
        }]
      })
    })
  </script>


<%- include('../essentials/adminFooter') %>