<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>WaveElectronics Admin</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <!-- Favicons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">
  <!-- Google Fonts -->

  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="new.css"> -->

 

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="/img/2.png" alt="">
        <span class="d-none d-lg-block">WaveElectronics</span>
      </a>
      <i class=" bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="/img/profile-img.jpg" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">J. Smith</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>John Smith</h6>
              <span>Web Designer</span>
            </li>
        

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
     

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
           
            <li>
              <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
          

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/logout">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/panel">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/products">
          <i class="bi bi-person"></i>
          <span>Products</span>
          
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/category">
          <i class="bi bi-person"></i>
          <span>category</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/users">
          <i class="bi bi-person"></i>
          <span>Users</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/orders">
          <i class="bi bi-person"></i>
          <span>Orders</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/coupons">
          <i class="bi bi-person"></i>
          <span>Coupons</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/offers">
          <i class="bi bi-person"></i>
          <span>Offers</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/admin/sales">
          <i class="bi bi-person"></i>
          <span>sales</span>
        </a>
      </li>

      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="users-profile.html">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->
      
    </ul>

  </aside><!-- End Sidebar-->
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Orders</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin/panel">Home</a></li>
          <li class="breadcrumb-item active">Orders</li>
        </ol>
      </nav>
      
      
    </div><!-- End Page Title -->


    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">

            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">



                <div class="card-body">
                  <h5 class="card-title">Sales <span>| This Month</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                      <h6><%= q  %></h6>
                      <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">

     

                <div class="card-body">
                  <h5 class="card-title">Revenue <span>| This Month</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-currency-dollar"></i>
                    </div>
                    <div class="ps-3">
                      <h6>₹<%= tp.toLocaleString('hi') %></h6>
                      <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Revenue Card -->

            <!-- Customers Card -->
            <div class="col-xxl-4 col-xl-12">

              <div class="card info-card customers-card">


                <div class="card-body">
                  <h5 class="card-title">Customers <span>| This Month</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>3</h6>
                      <!-- <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span> -->

                    </div>
                  </div>

                </div>
              </div>

            </div><!-- End Customers Card -->

         

         

            <!-- Top Selling -->
            

          </div>
        </div><!-- End Left side columns -->

      

      </div>
    </section>











    <div class="d-flex justify-content-between ">
      <a href="/admin/sales/month">
        <button href="" type="button" class="btn btn-secondary rounded-pill">
          last month
        </button>
      </a>
      <a href="/admin/sales/week">
        <button href="" type="button" class="btn btn-secondary rounded-pill">
          last week
        </button>
      </a>
      
      <a href="/admin/sales/day">
        <button href="" type="button" class="btn btn-secondary rounded-pill">
          last day
        </button>
      </a>
      
      <form action="/admin/sales/custom" method="get">
        <input type="date" name="startDate">
        <input type="date" name="endDate">
        <button type="submit" class="btn btn-secondary rounded-pill">
          custom range
        </button>
      </form>
      
    </div>
    <% if(orders){%>
    <table class="table table-bordered table-hover mt-3" id="myTable">
      <thead class="table-dark">
          <tr class="text-center ">
              <th style="width: 70px;">Sl no.</th>
              <th>Name</th>
              <th>date</th>
              <th>Total</th>
              <!-- <th>discount</th> -->
              <th style="width: 150px;">Received</th>
              <th style="width: 160px;">Payment method</th>
          </tr>
      </thead>
      <tbody class="align-middle text-center ">
        <% orders.forEach((row,index)=>{ %>
        <tr>
          <td>
            <%= index+1 %>
          </td>
          <td>
            <%= row.userId.name %>
          </td>
          <td>
            <%= row.orderDate.toJSON().slice(0,10)  %>
          </td>
          <td><%= (row.items.reduce((acc,item)=>{
                  return acc + item.price*item.quantity
              },0)) %>
          </td>
          <td><%= row.totalPrice %></td>
          <td><%= row.paymentMethod  %></td>
        </tr>
        <% }) %>
      </tbody>
    </table> 
    <% }  %>
    <div class="d-flex justify-content-end ">
      <button class="btn btn-primary " id="downloadPDF">Download PDF</button>
      <button class="btn btn-primary ms-2 " id="downloadCSV">Download CSV</button>
    </div>
    
    <div class="modal fade" id="couponModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Create new coupon</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                               
            <form action="/admin/coupons/addcoupon" method="post">
              <div class="form-group">
                <label for="code">code:</label>
                <input type="text" name="code" class="form-control bg-light" id="code"
                    placeholder="Enter the code" required />
              </div>
              <div class="form-group">
                <label for="count">count:</label>
                <input type="text" name="count" class="form-control bg-light" id="count"
                    placeholder="Enter the count" required />
              </div>
              <div class="form-group">
                <label for="discount">discount:</label>
                <input type="number" name="discount" class="form-control bg-light" id="discount"
                    placeholder="Entre discount" required />
              </div>
              <div class="form-group">
                <label for="minPurchase">minPurchase:</label>
                <input type="number" name="minPurchase" class="form-control bg-light" id="minPurchase"
                    placeholder="Enter the minPurchase" required />
              </div>
              <div class="form-group">
                <label for="start">start date:</label>
                <input type="date" name="start" class="form-control bg-light" id="start"
                    placeholder="Enter start" required />
              </div>
              <div class="form-group">
                <label for="expire">expire date:</label>
                <input type="date" name="expire" class="form-control bg-light" id="expire"
                    placeholder="Enter the expire" required />
              </div>
              <div class="d-flex justify-content-center mb-3">
                <button type="submit" class="btn btn-primary mt-3 mb-0">Add Coupon</button>
              </div>
            </form>
           
          </div>
          
        </div>
      </div>
    </div>
    <!-- ======= Footer ======= -->
  

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js" integrity="sha512-qZvrmS2ekKPF2mSznTQsxqPgnpkI4DNTlrdUmTzrDgektczlKNRRhy5X5AAOnx5S09ydFYWWNSfcEqDTTHgtNA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.8.2/jspdf.plugin.autotable.min.js" integrity="sha512-2/YdOMV+YNpanLCF5MdQwaoFRVbTmrJ4u4EpqS/USXAQNUDgI5uwYi6J98WVtJKcfe1AbgerygzDFToxAlOGEQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- Template Main JS File -->
 
  <script src="/js/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>




  <script src="/js/salesreport.js"></script>
    

</body>

</html>