</head>

<body>
  <%- include('../essentials/loader') %>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="/img/2.png" alt="">
        <span class="d-none d-lg-block">WaveElectronics</span>
      </a>
      <i class=" bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item dropdown pe-3">

          <button class="nav-link nav-profile  pe-0" href="#" data-bs-toggle="dropdown">  
            <div class="d-flex align-items-center justify-content-between">
              <div class="align-items-center h5 mt-2">
                <div class="d-none d-md-block">
                  <%= adminname%>
                </div>
              </div class="bg-dark">
              <div>
                <img src="/img/user.png" alt="Profile" class="rounded-circle dropdown-toggle ps-2">
              </div>
            </div>
            
            
          </button>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6><%= adminname %></h6>
              <span>Web Developer</span>
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="/admin/logout">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link <%= activePage === 'index' ? '' : 'collapsed' %>" href="/admin/panel">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->
      <li class="nav-item">
        <a class="nav-link <%= activePage === 'products' ? '' : 'collapsed' %>" href="/admin/products">
          <i class="fa fa-box-open"></i>
          <span>Products</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= activePage === 'category' ? '' : 'collapsed' %>" href="/admin/category">
          <i class="fa fa-tags"></i>
          <span>category</span>

        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= activePage === 'users' ? '' : 'collapsed' %>" href="/admin/users">
          <i class="fa fa-user"></i>
          <span>Users</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= activePage === 'orders' ? '' : 'collapsed' %>" href="/admin/orders">
          <i class="fas fa-truck"></i>
          <span>Orders</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= activePage === 'coupons' ? '' : 'collapsed' %>" href="/admin/coupons">
          <i class="fas fa-ticket-alt"></i>
          <span>Coupons</span>
        </a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link <%=// activePage === 'offers' ? '' : 'collapsed' %>" href="/admin/offers">
          <i class="fa fa-gift"></i>
          <span>Offers</span>
        </a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link <%= activePage === 'sales' ? '' : 'collapsed' %>" href="/admin/sales">
          <i class="fa fa-bar-chart"></i>
          <span>sales</span>
        </a>
      </li>
      <li class="nav-heading">Pages</li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="users-profile.html">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->
    </ul>


  </aside><!-- End Sidebar-->