<%- include('../essentials/userHeader') %>


</head>

<body class="bg-white">
  <%- include('../essentials/loader') %>
    
    <header id="header" class="header fixed-top d-flex align-items-center bg-black " style="height: 90px;">

        <div class="d-flex align-items-center justify-content-between">
          <div class="col-lg-4  d-flex align-items-center">
            <a href="/user/homepage" class="text-decoration-none">
              <span class="h2 text-uppercase text-warning bg-dark px-2">WAVE</span>
              <span class="h2 text-uppercase text-dark bg-warning px-2 ml-n1">ELECTRONICS</span>
            </a>
            
          </div>
          
        </div><!-- End Logo -->
    
        <!-- <div class="search-bar">
          <form class="search-form d-flex align-items-center" action="/user/getsearch" method="get">
            <input type="search" name="name" placeholder="Search" title="Enter search keyword" id="" onclick="this.form.submit()">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
          </form>
        </div> -->
    
        <nav class="header-nav ms-auto">
          <ul class="d-flex align-items-center">
    
            
            
            <li class="nav-item dropdown mx-3">
                <div class="d-flex align-items-center gap-2 text-dark">
                  <!-- <h6 class="text text-dark">cart</h6> -->
                  <a href="/user/cart">
                  <div class="nav-link nav-icon">
                    <i class="bi bi-cart fs-3 text-white "></i>
                      <span class="badge bg-danger badge-number fs-7 rounded-circle fw-bold " id="cartCount">
                        <%= cartCount %>
                      </span>
                  </div>
                  </a>
                  <a href="/user/wishlist">
                    <div class="nav-link nav-icon">
                      <i class="bi bi-heart fs-3 text-white"></i> 
                      <span class="badge bg-danger badge-number fs-7 rounded-circle" id="wishCount">
                      
                        <%= wishList  %>
                        
                      </span>
                    </div>
                  </a>
                </div>
            </li>
            <!-- End Notification Nav -->
            <li class="nav-item dropdown pe-3">
    
              <button class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                <img src="/img/user.png" alt="Profile" class="rounded-circle">
                <span class="d-none d-md-block dropdown-toggle ps-2 text-white "></span>
                
              </button><!-- End Profile Iamge Icon -->
    
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                <li class="dropdown-header">
                  <h6><%= name %></h6>
                  <span>Web Designer</span>
                </li>
            
    
                <li>
                  <a class="dropdown-item d-flex align-items-center" href="/user/userprofile/address">
                    <i class="bi bi-person"></i>
                    <span>My Profile</span>
                  </a>
                </li>
                <li >
                  <a class="dropdown-item d-flex align-items-center" href="/user/logout">
                    <i class="bi bi-box-arrow-right text-danger"></i>
                    <span class="text-danger">Sign Out</span>
                  </a>
                </li>
    
              </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->
    
          </ul>
        </nav><!-- End Icons Navigation -->
    
    </header>

  
    
   

    <!-- Banner start -->
     <main class="bg-white" style="margin-top: 105px;">
        <div class="d-sm-flex justify-content-center align-items-center">
          <% cat.forEach((row)=>{ %>
          <div class="bg-secondary rounded-pill px-3 py-1 text-black shadow-sm m-2"><%= row.categoryName %></div>

          <% }) %>
        </div>
      
      <div class="mx-3">
        <div class="d-flex flex-column justify-content-center rounded-pill search-container bg-white shadow-sm m-3  w-max">
          <form action="/user/getsearch">
            <div class="input-group">
              <span class="input-group-text bg-black d-flex justify-content-center rounded-pill text-white"
                style="width: 100px; height: 40px;">
                <i class="fas fa-search"></i>
              </span>
              <input onclick="this.form.submit()" type="text" class="form-control border-2 rounded-pill px-4" id="search-input" placeholder="Search products..."
                style="height: 40px;" />
            </div>
          </form>
          
        </div>
        <div id="carouselExampleSlidesOnly" class="carousel slide shadow-lg mx-5" data-bs-ride="carousel">

          <div class="carousel-inner ">
            <div class="carousel-item active">
              <img src="/img/banner_1.jpg" class="d-block w-100 " alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h2>Samsung Galaxy s23 Ultra</h2>
                <p>Shop galaxy watch 5 with s23 and get upto benfits of ₹12,000</p>
              </div>
            </div>

            <div class="carousel-item">
              <img src="/img/banner_3.jpg" class="d-block w-100 " alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h2>Apple iPhone 15 pro max</h2>
                <p>...</p>
              </div>
            </div>
          </div>

        </div>
        
      </div>



<div class="mx-5 mt-5">

  <div class="row" id="searchResult">

    <% pd.forEach((row,index)=>{%>
      <div class="col-xl-3 col-lg-4 col-md-6 mt-4">
        <div class="card rounded-0 ">
          <% if (row.category?.offer > 0 ) { %>
            <span class="badge position-absolute  p-2  bg-danger w-auto rounded-0  " style="top: 15px; right: 15px;">
              - <%= row.category.offer %>%
            </span>

            <% } %>
              <img src="/images/<%= row.defaultVariant.images[0]  %>" class="card-img-top card-img-auto"
                alt="Product Image" style="object-fit: cover;">
              <div class="card-body bg-white" style="height: 220px;">
                <a href="/user/product-detail/<%= row._id %>">
                  <div class="card-title m-0 text-truncate fw-bold ">
                    <%= row.productName %>
                  </div>
                  <p class="card-text fw-bold text-dark mb-2 ">₹<%= row.finalPrice.toLocaleString('hi') %>
                  </p>
                  <p class="card-text text-black text-truncate" style="height: 48px;">
                    <%= row.spec1 %>
                  </p>

                </a>
                <div class="d-flex justify-content-between mt-3" style="bottom:0px;">
                  <button data-path="<%= row._id %>" class="btn btn-dark rounded-pill addtocart">Add to cart</button>
                  <button data-path="<%= row._id %>"
                    class="btn d-flex justify-content-center align-items-center rounded-circle wishlist shadow-sm"
                    style="height: 50px; width: 50px;background-color: #dadada;">
                    <img src="/img/heart<%= wishlist.includes(row._id.toString()) ? '':'-white'  %>.png"
                      style="width: 30px; height: 30px;" alt="heart">
                  </button>
                </div>



              </div>
        </div>
      </div>
      <%});%>

  </div>
</div>
     </main>
    
 
    <!-- Footer Start -->
    <%- include('../essentials/footer') %>

    <button href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></button>

    <script type=module src="/js/cartCount.js" defer></script>
    <!-- Footer End -->
  <%- include('../essentials/userFooter') %>