<%- include('../essentials/userHeader') %>
<style>
  


</style>
    
</head>

<body>
  <%- include('../essentials/loader') %>
    <!-- Topbar Start -->

    <header id="header" class="header fixed-top d-flex align-items-center bg-black justify-content-between " style="height: 90px;">

        <div class="d-flex align-items-center justify-content-between">
          <div class="col-lg-4  d-flex align-items-center">
            <a href="/" class="text-decoration-none">
              <span class="h2 text-uppercase text-warning bg-black px-2">WAVE</span>
              <span class="h2 text-uppercase text-black bg-warning px-2 ml-n1">ELECTRONICS</span>
            </a>
            
          </div>
          
        </div><!-- End Logo -->
    
        
        <div class="d-flex justify-content-end">
          
            <a href="/user/login"><button class="btn btn-primary rounded-pill mx-3">Login</button></a>
            <a href="/user/signup"><button class="btn btn-secondary rounded-pill me-3">SignUp</button></a>
          
            
        </div>
        
    
    </header>

    
   




   
   <main class="bg-white" style="margin-top: 90px;">
    <div class="">
      <!-- =========================== -->





      <div class="hero-section bg-image h-100 d-flex align-items-center"
        style="background-image: url('/img/banner_2.jpg'); background-size: cover; background-position: center;min-height: 100vh;">
        <!-- Dark Overlay -->
        <div class="position-absolute top-0 start-0 w-100 h-100" style="background: rgba(0, 0, 0, 0.4); z-index: 1;"></div>
      
        <!-- Main Content -->
        <div class="container position-relative z-2">
          <div class="row align-items-center">
            <!-- Text Content -->
            <div class="col-lg-6 text-white">
              <h1 class="display-3 fw-bold mb-4">
                Discover<br>
                Most Suitable<br>
                Tech Devices
              </h1>
              <p class="lead mb-4 text-white-50 bg-black p-3 bg-opacity-50 rounded-5 shadow-5">
                Find the best, reliable, and premium tech devices here.
                We focus on product quality. Here you can find smart devices
                of almost all brands. So why you are waiting? Just order now!
              </p>
              <a href="/guest/getsearch">
              <button class="btn text-white rounded-pill shadow-3 bg-primary bg-gradient py-1">
                <div class="h5 mt-2">
                  Explore Now
                </div>
              </button>
              </a>
      
            </div>
      
            
          </div>
        </div>
      </div>
      <div class="hero-section bg-image d-flex justify-content-end align-items-center"
        style="background-image: url('/img/banner_7.jpg'); background-size: cover; background-position: center;min-height: 100vh;">
        <!-- Dark Overlay -->
        <div class="position-absolute top-0 start-0 w-100 h-100" style="background: rgba(0, 0, 0, 0.4); z-index: 1;"></div>
      
        <!-- Main Content -->
        
      </div>




       <!-- ============================= -->
  
     </div>
     <div class=" mx-5 mt-5">
      
        <div class="row" id="searchResult">
          
        <% pd.forEach((row,index)=>{%>
          <div class="col-xl-3 col-lg-4 col-md-6 mt-3">
            <div class="card rounded-0 ">
              <% if (row.category?.offer > 0) { %>
                <span class="badge position-absolute  p-2  bg-danger w-auto rounded-0  " style="top: 15px; right: 15px;">
                   - <%= row.category.offer %>%
                </span>
                
              <% } %>
              <img src="/images/<%= row.defaultVariant.images[0]  %>" class="card-img-top card-img-auto" alt="Product Image" style="object-fit: cover;">
              <div class="card-body bg-white p-3" style="height: 220px;">
                <a href="/guest/product-detail/<%= row._id %>">
                    <div class="card-title m-0 p-0 text-truncate fw-bold "><%= row.productName  %></div>
                    <p class="card-text m-0 fw-bold text-dark">₹<%= row.finalPrice.toLocaleString('hi')  %></p>
                    <p class="card-text text-black text-truncate" style="height: 48px;"><%= row.spec1 %></p>
                    
                </a>
                <div class="d-flex justify-content-between mt-3" style="bottom:0px;">
                  
                    <a href="/user/login" class="text-white"><button class="btn py-3 btn-dark rounded-pill text-white" data-mdb-ripple-init>Add to cart</button></a>
                 
                </div>
              </div>
            </div>
          </div>
          <%});%>
       
        </div>
    </div>
   </main>
    
   

    <%- include('../essentials/footer') %>
   
   

    <!-- Back to Top -->
    <button href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></button>
    <script type="module" src="/js/cartCount.js" defer></script>



<%- include('../essentials/userFooter') %>
