<%- include('../essentials/userHeader') %>


<%- include('../essentials/userLayout') %>
  
  <main id="main" class="main" style="top:300px;">

    <!-- <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin/panel">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div> -->
  
    <section class="section dashboard position-relative" style="top:70px">
      <div class="row">
        <div class="col-12">
          <%if(orders){%>
            <%orders.forEach((order)=>{ %>
              <% order.items.forEach((item)=>{ %>
                <a href="/user/orderdetails/<%= item._id %>">
                  <div class="card ">
                    <div class="card-body ">
                      <div class="col-12 d-flex justify-content-between mt-3 ">
                        <div class="d-flex ">
                          <img src="/images/<%= item.productId.images[0] %>" alt="" style="width: 120px;">
                          <div class="d-flex flex-column ">
                            <p class="mt-3 ms-3 "><%= item.productId.ProductName  %></p>
                            <p class="mt-1 ms-3 ">quantity : <%= item.quantity  %></p>
                          </div>
                          
                        </div>
                        <h6 class="mt-3 ">₹<%= item.price.toLocaleString('hi') %></h6>
                        <div class="mt-3 ">
                          <% if(item.status == 'cancelled') {%>
                            <span class="badge bg-danger rounded-0 p-2 bg-opacity-75 text-black">
                              <%= item.status %>
                            </span>
                          <%}else if(item.status=='confirmed'){%>
                            <span class="badge bg-warning rounded-0 p-2 bg-opacity-75 text-black">
                              <%= item.status %>
                            </span>
                          <%}else if(item.status=='shipped'){%>
                            <span class="badge bg-info rounded-0 p-2 bg-opacity-75 text-black">
                              <%= item.status %>
                            </span>
                          <%}else if(item.status=='delivered'){%>
                            <span class="badge bg-success rounded-0 p-2 bg-opacity-75 text-black">
                              <%= item.status %>
                            </span>
                          <%}else if(item.status == 'Order Placed') {%>
                            <span class="badge bg-primary  rounded-0 p-2 bg-opacity-75 text-black">
                              <%= item.status %>
                            </span>
                          <% }else if(item.status == 'returned'){%>
                            <span class="badge bg-warning  rounded-0 p-2 bg-opacity-75 text-black">
                              <%= item.status %>
                            </span>
                          <% }else{ %>
                            <span class="badge bg-secondary  rounded-0 p-2 bg-opacity-75 text-black">
                              <%= item.status %>
                            </span>
                          <% } %>
                          <br>
                          <br>
                          <p><%= order.orderDate.toLocaleString('en-US',{dateStyle:'long'})%></p>
                        </div>
                        
                      </div>
                      
                    </div>
                  </div>
                </a>
              
              <% }) %>
            <%})%>
          <%}else{%>
            <div class="d-flex justify-content-center align-items-center">
              <h1>
                Your orders is empty
              </h1>
              
            </div>
          <%}  %>
        </div><!-- End Left side columns -->
      </div>
    </section>
 
  </main><!-- End #main -->


 
 




  <!-- Footer Start -->
  
  <!-- Footer End -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

  <!-- Back to Top -->
  <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

  <script src="/js/cartCount.js"></script>
  <!-- JavaScript Libraries -->
<%- include('../essentials/userFooter') %>