<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>WaveElectronics</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">  

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
   

    <!-- Customized Bootstrap Stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    
</head>

<body>
  
  <header id="header" class="header fixed-top d-flex align-items-center bg-light" style="height: 125px;">

    <div class="d-flex align-items-center justify-content-between">
      <div class="col-lg-4  d-flex align-items-center">
        <a href="/user/homepage" class="text-decoration-none">
          <span class="h1 text-uppercase text-warning bg-dark px-2">WAVE</span>
          <span class="h1 text-uppercase text-dark bg-warning px-2 ml-n1">ELECTRONICS</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
      </div>
      
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown mx-3">
          <div class="d-flex align-items-center gap-1">
            
            <li class="nav-item dropdown mx-3">
              <a href="/user/cart">
                <div class="d-flex align-items-center gap-2 text-dark">
                  <h6 class="text text-dark">cart</h6>
                  <div class="nav-link nav-icon">
                  
                    <i class="bi bi-cart"></i>
                    <span class="badge bg-danger badge-number" id="cartCount"><%= q%></span>
                  </div>
                </div>
              </a>
            </li>
           
            
          </div>
          

        </li><!-- End Notification Nav -->

  

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="/img/user.png" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">
              <%= locals.name %>
            </span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>
                <%= locals.name %>
              </h6>
              <span>Web Designer</span>
            </li>
        

            <li>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li >
              <a class="dropdown-item d-flex align-items-center" href="/user/logout">
                <i class="bi bi-box-arrow-right text-danger"></i>
                <span class="text-danger">Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header>

    <!-- Navbar Start -->
   
    <!-- Navbar End -->

  <aside id="sidebar" class="sidebar" style="top:125px;">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="/user/userprofile">
          <i class="bi bi-grid"></i>
          <span>My profile</span>
        </a>
      </li><!-- End Dashboard Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="/user/userprofile/address">
          <i class="bi bi-person"></i>
          <span>address management</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/userprofile/orders">
          <i class="bi bi-person"></i>
          <span>Orders</span>
          
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/wishlist">
          <i class="bi bi-person"></i>
          <span>Wishlist</span>
          
        </a>
      </li>
      <li class="nav-heading">Pages</li>
    </ul>
  </aside><!-- End Sidebar-->
  
  <main id="main" class="main" style="top:300px;">

    <!-- <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin/panel">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div> -->

    <section class="section dashboard position-relative" style="top:70px">
      <div class="row">
        <div class="col-12">
          <%if(orders){%>
            <%orders.forEach((order)=>{ %>
              <div class="card ">
                <div class="card-body ">
                  <div class="col-12 d-flex justify-content-between mt-3 ">
                    <div>
                      <div class="fw-bold mb-3 ">Quantity</div>
                      <%= order.items.length %> items
                    </div>
                    <div>
                      <div class="fw-bold mb-3 ">Total Price</div>
                      <%= order.totalPrice.toLocaleString('hi') %>
                    </div>
                    <div>
                      <div class="fw-bold mb-3 ">
                        status
                      </div>
                      <% if(order.status == 'cancelled') {%>
                        <span class="badge bg-danger ">
                          <%= order.status %>
                        </span>
                      <%}else if(order.status=='confirmed'){%>
                        <span class="badge bg-warning ">
                          <%= order.status %>
                        </span>
                      <%}else if(order.status=='shipped'){%>
                        <span class="badge bg-info ">
                          <%= order.status %>
                        </span>
                      <%}else if(order.status=='delivered'){%>
                        <span class="badge bg-success ">
                          <%= order.status %>
                        </span>
                        <%}else if(order.status == 'Order Placed') {%>
                          <span class="badge bg-success ">
                            <%= order.status %>
                          </span>
                          <a href="/user/orders/cancelorders/<%= order._id  %>">
                            <button class="btn btn-danger ">
                              cancel
                            </button>
                          </a>
                        <% } %>
                    </div>
                    
                  </div>
                 
                  <table class="table table-group-divider  table-hover table-striped  mt-3">
                    <thead>
                      <tr>
                        <th>Product</th>
                        <th>price</th>
                        <th>quantity</th>
                      </tr>
                    </thead>
                    <tbody class="table-group-divider">
                    <% order.items.forEach((item)=>{ %>
                    
                      <tr class="align-middle">
                        <td>
                          <img src="/images/<%= item.productId.images[0] %>" alt="" style="width: 70px;">
                          <%= item.productId.ProductName  %>
                        </td>
                        <td>
                          <%= item.price %>
                        </td>
                        <td>
                          <%= item.quantity %>
                        </td>
                      </tr>
                    
                    <% }) %>
                    </tbody>
                  </table>
                </div>
                
              </div>
            <%})%>
          <%}else{%>
            <div class="d-flex justify-content-center align-items-center ">
              Your orders is empty
            </div>
          <%}  %>
        </div><!-- End Left side columns -->
      </div>
    </section>

  </main><!-- End #main -->


 
 




  <!-- Footer Start -->
  
  <!-- Footer End -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

  <!-- Back to Top -->
  <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


  <!-- JavaScript Libraries -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  <!-- Template Javascript -->
  <script src="/js/main.js"></script>
  <script src="/js/cartCount.js"></script>
</body>

</html>