<%- include('../essentials/userHeader') %>


    <script src="https://cdn.jsdelivr.net/npm/js-image-zoom/js-image-zoom.min.js"></script>
    
</head>

<body>
    <!-- Topbar Start -->
    <header id="header" class="header fixed-top d-flex align-items-center bg-black " style="height: 90px;">

        <div class="d-flex align-items-center justify-content-between">
          <div class="col-lg-4  d-flex align-items-center">
            <a href="/user/homepage" class="text-decoration-none">
              <span class="h2 text-uppercase text-warning bg-dark px-2">WAVE</span>
              <span class="h2 text-uppercase text-dark bg-warning px-2 ml-n1">ELECTRONICS</span>
            </a>
            
          </div>
          
        </div><!-- End Logo -->
    
        <!-- <div class="search-bar">
          <form class="search-form d-flex align-items-center" action="/user/getsearch" method="get">
            <input type="search" name="name" placeholder="Search" title="Enter search keyword" id="" onclick="this.form.submit()">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
          </form>
        </div>End Search Bar -->
    
        <nav class="header-nav ms-auto">
          <ul class="d-flex align-items-center">
    
            <li class="nav-item d-block d-lg-none">
              <a class="nav-link nav-icon search-bar-toggle " href="/user/search">
                <i class="bi bi-search"></i>
              </a>
            </li><!-- End Search Icon-->

            <% if(isUser){ %>
                <li class="nav-item dropdown mx-3">
                <div class="d-flex align-items-center gap-2 text-dark">
                <!-- <h6 class="text text-dark">cart</h6> -->
                <a href="/user/cart">
                    <div class="nav-link nav-icon">
                        <i class="bi bi-cart fs-3 text-white "></i>
                        <span class="badge bg-danger badge-number fs-7 rounded-circle fw-bold " id="cartCount">
                            <%= cartCount %>
                        </span>
                    </div>
                </a>
                <a href="/user/wishlist">
                    <div class="nav-link nav-icon">
                        <i class="bi bi-heart fs-3 text-white"></i>
                        <span class="badge bg-danger badge-number fs-7 rounded-circle" id="wishCount">

                            <%= wishList %>

                        </span>
                    </div>
                </a>
                </div>
                </li>
                <!-- End Notification Nav -->
                <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                <img src="/img/user.png" alt="Profile" class="rounded-circle">
                <span class="d-none d-md-block dropdown-toggle ps-2 text-white "></span>

                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                <li class="dropdown-header">
                    <h6>
                        <%= name %>
                    </h6>
                    <span>Web Designer</span>
                </li>


                <li>
                    <a class="dropdown-item d-flex align-items-center" href="/user/userprofile/address">
                        <i class="bi bi-person"></i>
                        <span>My Profile</span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item d-flex align-items-center" href="/user/logout">
                        <i class="bi bi-box-arrow-right text-danger"></i>
                        <span class="text-danger">Sign Out</span>
                    </a>
                </li>

                </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->
            <% }else{ %>
                <div>Hello</div>
            <% } %>
    
          </ul>
        </nav><!-- End Icons Navigation -->
    
    </header>
    <!-- Topbar End -->


    <!-- Navbar Start -->
  
    <!-- Navbar End -->
      <!-- Shop Detail Start -->
      <div class="container-fluid p-5 position-relative bg-light " style="top:70px;">
        <div class="row px-xl-5 d-flex justify-content-start ">
            <div class="col-lg-5 mb-30 ">
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner bg-light shadow-sm ">
                        <div id="img-container zoom1" class="carousel-item">
                            <img class="w-100 h-100" src="/images/<%= defaultVariant.images[0]  %>" alt="Image">
                        </div>
                        <div id="img-container zoom2" class="carousel-item active">
                            <img class="w-100 h-100" src="/images/<%= defaultVariant.images[1]  %>" alt="Image">
                        </div>
                        <div id="img-container zoom3" class="carousel-item">
                            <img class="w-100 h-100" src="/images/<%= defaultVariant.images[2]  %>" alt="Image">
                        </div>
                    </div>
                    <a class="carousel-control-prev bg-black" href="#product-carousel" data-slide="prev">
                        <i class="fa fa-2x fa-angle-left text-dark"></i>
                    </a>
                    <a class="carousel-control-next bg-black " href="#product-carousel" data-slide="next">
                        <i class="fa fa-2x fa-angle-right text-dark"></i>
                    </a>
                </div>
                <div id="yourcar" style="position: relative;top:-500px;">

                </div>
            </div>

            <div class="col-lg-7 h-auto mb-30 shadow-sm bg-white">
                <div class="h-100 bg-white p-3">
                    <h3>
                        <%= pd.productName %>
                    </h3>
                    <div class="d-flex mb-3">
                        <div class="text-primary mr-2">
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star-half-alt"></small>
                            <small class="far fa-star"></small>
                        </div>
                        <small class="pt-1">(99 Reviews)</small>
                    </div>
                    <div class="d-flex align-items-center">
                        <h3 class="font-weight-semi-bold me-3">₹<%= pd.defaultPrice.toLocaleString('hi') %>
                        </h3>
                        <h4 class="fs-5 text-decoration-line-through">
                            <span class="text-danger">
                                ₹<%= pd.basePrice.toLocaleString('hi') %>
                            </span>
                        </h4>
                    </div>
            
                    <p class="mb-4">
                        <%= pd.Description %>
                    </p>
            
                    <% if(defaultVariant.stock===0) { %>
                        <p class="mb-4 text-danger">Out of stock</p>
                    <% } else { %>
                    <p class="mb-4 text-success">In Stock</p>
                    <% } %>
            
                    <div class="d-flex mb-4">
                        <strong class="text-dark mr-3">Colors:</strong>
                        <div class="btn-group" role="group" aria-label="Color selection">
                            <% color.forEach(function(color) { %>
                                <input type="radio" class="btn-check" name="color" id="color-<%= color %>"
                                    autocomplete="off" <%=color.default ? 'checked' : '' %>>
                                <label class="btn btn-outline-primary <%= color ? 'active' : '' %>"
                                    for="color-<%= color %>">
                                    <%= color %>
                                </label>
                                <% }); %>
                        </div>
                    </div>
            
                    <div class="d-flex mb-4">
                        <strong class="text-dark mr-3">Storage:</strong>
                        <div class="btn-group" role="group" aria-label="Storage selection">
                            <% storage.forEach(function(storage) { %>
                                <input type="radio" class="btn-check m-3" name="storage" id="storage-<%= storage %>"
                                    autocomplete="off" <%=storage ? 'checked' : '' %>>
                                <label class="btn btn-outline-primary <%= storage ? 'active' : '' %>"
                                    for="storage-<%= storage %>">
                                    <%= storage %>
                                </label>
                                <% }); %>
                        </div>
                    </div>

                    <div class="d-flex align-items-center mb-4 pt-2">
                        <% if(isUser) { %>
                            <button data-path="<%= pd._id %>" class="btn btn-primary px-3 rounded-pill addtocart">
                                <i class="fa fa-shopping-cart mr-1"></i> Add To cart
                            </button>
                            <% } else { %>
                                <a href="/user/login">
                                    <button class="btn btn-primary px-3 rounded-pill">
                                        <i class="fa fa-shopping-cart mr-1"></i> Add To cart
                                    </button>
                                </a>
                                <% } %>
                    </div>

                    <div class="d-flex pt-2">
                        <strong class="text-dark mr-2">Share on:</strong>
                        <div class="d-inline-flex">
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-pinterest"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row px-xl-5">
            <div class="col">
                <div class="bg-light p-30">
                    <div class="nav nav-tabs mb-4">
                        <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">Description</a>
                        <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-2">Information</a>
                        <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-3">Reviews (0)</a>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-pane-1">
                            <h4 class="mb-3">Product Description</h4>
                            <p>This is the most important smartphone right now with many AI features</p>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-2">
                            <h4 class="mb-3">Additional Information</h4>
                            <p></p>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item px-0">
                                          Processor
                                        </li>
                                        <li class="list-group-item px-0">
                                          Camera
                                        </li>
                                       
                                      </ul> 
                                </div>
                                <div class="col-md-6">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item px-0">
                                            Snapdragon 8 gen 2
                                        </li>
                                        <li class="list-group-item px-0">
                                            200 MP
                                        </li>
                                       
                                      </ul> 
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4 class="mb-4">1 review for "Product Name"</h4>
                                    <div class="media mb-4">
                                        <img src="img/user.jpg" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                                        <div class="media-body">
                                            <h6>John Doe<small> - <i>01 Jan 2045</i></small></h6>
                                            <div class="text-primary mb-2">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star-half-alt"></i>
                                                <i class="far fa-star"></i>
                                            </div>
                                            <p>Diam amet duo labore stet elitr ea clita ipsum, tempor labore accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed sed eirmod ipsum.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h4 class="mb-4">Leave a review</h4>
                                    <small>Your email address will not be published. Required fields are marked *</small>
                                    <div class="d-flex my-3">
                                        <p class="mb-0 mr-2">Your Rating * :</p>
                                        <div class="text-primary">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                        </div>
                                    </div>
                                    <form  action="/user/review/<%= pd._id %>" method="post">
                                        <div class="form-group">
                                            <label for="message">Your Review *</label>
                                            <textarea id="message" name="review" cols="30" rows="5" class="form-control"></textarea>
                                        </div>
                                        
                                        <div class="form-group mb-0">
                                            <input type="submit" value="Leave Your Review" class="btn btn-primary px-3">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Detail End -->
    
    <div id="initial-data" data-variant='<%= JSON.stringify(defaultVariant) %>'>
    </div>



    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-secondary mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <h5 class="text-secondary text-uppercase mb-4">Get In Touch</h5>
                <p class="mb-4">No dolore ipsum accusam no lorem. Invidunt sed clita kasd clita et et dolor sed dolor. Rebum tempor no vero est magna amet no</p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street, New York, USA</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">Quick Shop</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                            <a class="text-secondary" href="#"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">My Account</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                            <a class="text-secondary" href="#"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">Newsletter</h5>
                        <p>Duo stet tempor ipsum sit amet magna ipsum tempor est</p>
                        <form action="">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Your Email Address">
                                <div class="input-group-append">
                                    <button class="btn btn-primary">Sign Up</button>
                                </div>
                            </div>
                        </form>
                        <h6 class="text-secondary text-uppercase mt-4 mb-3">Follow Us</h6>
                        <div class="d-flex">
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-secondary">
                    &copy; <a class="text-primary" href="#">Domain</a>. All Rights Reserved.
                </p>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

   

    <script src="https://cdn.jsdelivr.net/npm/js-image-zoom/js-image-zoom.min.js"></script>
    <!-- Template Javascript -->

    <!-- <script type="module" src="/js/cartCount.js" defer></script> -->
    <script type="module" src="/js/productDetail.js" defer></script>

    <script defer>
        var options1 = {
            width: 500,
            height:500,
            zoomWidth:500,
            offset: {vertical: 0, horizontal: 10},
            zoomContainer:document.getElementById('yourcar'),
            
        };
        let images = document.querySelectorAll('.carousel-item');
        images.forEach((item)=>{
            new ImageZoom(item,options1)
        })
        // new ImageZoom(document.querySelector(".carousel-item"), options1);
        // new ImageZoom(document.getElementById("zoom2"), options1);
        // new ImageZoom(document.getElementById("zoom3"), options1);
    
    </script>

<%- include('../essentials/userFooter') %>