<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MultiShop - Online Shop Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">  

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
   
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <!-- Customized Bootstrap Stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    
</head>

<body>
    
    <header id="header" class="header fixed-top d-flex align-items-center bg-black " style="height: 125px;">

        <div class="d-flex align-items-center justify-content-between">
          <div class="col-lg-4  d-flex align-items-center">
            <a href="/user/homepage" class="text-decoration-none">
              <span class="h1 text-uppercase text-warning bg-dark px-2">WAVE</span>
              <span class="h1 text-uppercase text-dark bg-warning px-2 ml-n1">ELECTRONICS</span>
            </a>
            
          </div>
          
        </div><!-- End Logo -->
    
        <div class="search-bar">
          <form class="search-form d-flex align-items-center filter">
            <input type="search" name="name" placeholder="Search" title="Enter search keyword" id="searchInput" >
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
          </form>
        </div><!-- End Search Bar -->
    
        <nav class="header-nav ms-auto">
          <ul class="d-flex align-items-center">
    
            <li class="nav-item d-block d-lg-none">
              <a class="nav-link nav-icon search-bar-toggle " href="#">
                <i class="bi bi-search"></i>
              </a>
            </li><!-- End Search Icon-->
            
            <li class="nav-item dropdown mx-3">
                <div class="d-flex align-items-center gap-2 text-dark">
                  <!-- <h6 class="text text-dark">cart</h6> -->
                  <a href="/user/cart">
                  <div class="nav-link nav-icon">
                  
                    <i class="bi bi-cart fs-3 text-white "></i>
                    
                      <span class="badge bg-danger badge-number fs-7 rounded-circle" id="cartCount">
                      
                        <%= q  %>
                        
                      </span>
                    
                  </div>
                  </a>
                  <a href="/user/wishlist">
                    <div class="nav-link nav-icon">
                      <i class="bi bi-heart fs-3 text-white "></i>
                      <span class="badge bg-danger badge-number fs-7 rounded-circle" id="wishCount">
                      
                        <%= wishlist.length  %>
                        
                      </span>
                    </div>
                  </a>
                </div>
            </li>
            <!-- End Notification Nav -->
            <li class="nav-item dropdown pe-3">
    
              <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                <img src="/img/user.png" alt="Profile" class="rounded-circle">
                <span class="d-none d-md-block dropdown-toggle ps-2"></span>
              </a><!-- End Profile Iamge Icon -->
    
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                <li class="dropdown-header">
                  <h6><%= locals.name %></h6>
                  <span>Web Designer</span>
                </li>
            
    
                <li>
                  <a class="dropdown-item d-flex align-items-center" href="/user/userprofile/address">
                    <i class="bi bi-person"></i>
                    <span>My Profile</span>
                  </a>
                </li>
                <li >
                  <a class="dropdown-item d-flex align-items-center" href="/user/logout">
                    <i class="bi bi-box-arrow-right text-danger"></i>
                    <span class="text-danger">Sign Out</span>
                  </a>
                </li>
    
              </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->
    
          </ul>
        </nav><!-- End Icons Navigation -->
    
      </header>

    <!-- Navbar Start -->
   
    <!-- Navbar End -->




    <!-- Featured Start -->
    <div class="container mt-5 position-relative " style="top: 120px;">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6 ">
          
        </div>

      </div>
    </div>
    
    <!-- Featured End -->
    <div class=" mx-2   mt-5 position-relative row" style="top: 50px;">
      
      <div class="col-2  ">
        <div class="card rounded-0 h-100 ">
          <div class="ms-3 mt-2  fs-5 fw-bolder"> 
            Filters
          </div>
          <hr>
          <div >
            <div class="fw-bold ms-3 mb-2 ">Categories</div>
            
            <form id="filter" class="filter">
              <% cat.forEach((item,index)=>{ %>
              <div class="mb-1 ms-4 form-group">
                <input id="c1" type="checkbox" name="<%= item._id %>" value="<%= index+1 %>">
                <label for="c1"><%= item.Name%></label>
              </div>
              <% }); %>
            </form>
            <hr>
            <form id="sort" class="filter">
              <div class="fw-bold ms-3 ">Price</div>
              <div class="d-flex flex-column ms-4 gap-2 mt-2 ">
                <label>
                  <input type="radio" name="order" value="lth" checked="checked"> Low to High
                </label>
                <label>
                  <input type="radio" name="order" value="htl"> High to Low
                </label>
              </div>
        
              <div class="fw-bold ms-3 ">Order</div>
              <div class="d-flex flex-column ms-4 gap-2 mt-2 ">
                <label>
                  <input type="radio" name="order" value="az"> A to Z
                </label>
                <label>
                  <input type="radio" name="order" value="za"> Z to A
                </label>
              </div>
            </form>
              
            
          </div>
        </div>
      </div>
      <div class="col-10 ">
        <% if(product){ %>
          <div class="row" id="searchResult">
          <% product.forEach((row,index)=>{%>
            <div class="col-xl-3 col-lg-4 col-md-6 ">
              <div class="card rounded ">
                <img src="/images/<%= row.images[0]  %>" class="card-img-top card-img-auto" alt="Product Image" style="object-fit: cover;">
                <div class="card-body bg-light ">
                  <a href="/user/detail/<%= row._id %>">
                      <h5 class="card-title"><%= row.ProductName  %></h5>
                      <p class="card-text text-danger fw-bold">Price: ₹<%= row.Price.toLocaleString('hi')  %></p>
                      <p class="card-text"><%= row.spec1 %></p>
                      
                  </a>
                  <div class="d-flex justify-content-between mt-3">
                    <button data-path="<%= row._id %>" class="btn btn-primary rounded-pill shadow-sm addtocart">Add to cart</button>
                    <% if(wishlist.includes(row._id.toString())){ %>
                      <button data-path="<%= row._id %>" class="btn rounded-circle  shadow-sm text-danger wishlist"><img src="/img/heart.png" class="img-fluid heart-image" alt=""></button>
                    <% }else{ %>
                      <button data-path="<%= row._id %>" class="btn rounded-circle  shadow-sm text-danger wishlist"><img src="/img/heart-white.png" class="img-fluid heart-image" alt=""></button>
                    <% } %>
                  </div>
                  
                  
                  
                </div>
              </div>
            </div>
          <%});%>
          </div>
          <!-- <div class="w-100 d-flex justify-content-center gap-2 "> 
            <form class="pagination" id="pagination">
              <button class="btn btn-primary rounded-pill">prev</button>
              <button class="btn btn-light rounded-circle">1</button>
              <button class="btn btn-light rounded-circle active">2</button>
              <button class="btn btn-light rounded-circle" onclick="">3</button>
              <button class="btn btn-primary rounded-pill">next</button>
            </form>
            
      
          </div> -->
          <% }else{ %>
          <div class="d-flex justify-content-center align-items-center ">
            <div>
              No items found
            </div>
            
          </div>
          <% } %>  
          <!-- Pagination controls -->
          <nav aria-label="Product Pagination">
            <ul class="pagination justify-content-center">
              <!-- Previous page button -->
              <% if (currentPage > 1) { %>
                <li class="page-item">
                  <a class="page-link" href="?page=<%= currentPage - 1 %>" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
              <% } %>
              
              <!-- Page numbers -->
              <% for (let i = 1; i <= totalPages; i++) { %>
                <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                  <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                </li>
              <% } %>

              <!-- Next page button -->
              <% if (currentPage < totalPages) { %>
                <li class="page-item">
                  <a class="page-link" href="?page=<%= currentPage + 1 %>" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              <% } %>
            </ul>
          </nav>
      </div>
      
    </div>
    




    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-secondary mt-5 pt-5 position-relative " style="top: 100px;">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <h5 class="text-secondary text-uppercase mb-4">Get In Touch</h5>
                <p class="mb-4">No dolore ipsum accusam no lorem. Invidunt sed clita kasd clita et et dolor sed dolor. Rebum tempor no vero est magna amet no</p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street, New York, USA</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">Quick Shop</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                            <a class="text-secondary" href="#"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">My Account</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                            <a class="text-secondary" href="#"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">Newsletter</h5>
                        <p>Duo stet tempor ipsum sit amet magna ipsum tempor est</p>
                        <form action="">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Your Email Address">
                                <div class="input-group-append">
                                    <button class="btn btn-primary">Sign Up</button>
                                </div>
                            </div>
                        </form>
                        <h6 class="text-secondary text-uppercase mt-4 mb-3">Follow Us</h6>
                        <div class="d-flex">
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-secondary">
                    &copy; <a class="text-primary" href="#">Domain</a>. All Rights Reserved.
                </p>
            </div>
            <div class="col-md-6 px-xl-0 text-center text-md-right">
                <img class="img-fluid" src="img/payments.png" alt="">
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    

    <script
    src="https://code.jquery.com/jquery-3.7.1.js"
    integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <script src="/js/cartCount.js"></script>
    <script src="/js/pagination.js"></script>

</body>

</html>