<%- include('../essentials/userHeader') %>


  <%- include('../essentials/userLayout') %>
  
  <main id="main" class="main" style="top:300px;">

    <!-- <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin/panel">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div> -->

    <section class="section dashboard position-relative" style="top:70px">
      <div class="row">
        
        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">
            <button type="button" class="btn btn-primary mb-3 " data-toggle="modal" data-target="#exampleModalCenter" style="font-weight: bold;">
              + add new address
            </button>
            <% if(address){ %>
            <% address.forEach((row,index)=>{%>
            <!-- Sales Card -->
            <div class="col-xxl-6 col-md-12">
              <div class="card ">
                <div class="card-body">
                  <h5 class="card-title pb-0">
                    <div style="font-weight: bold;"><%= row.name %></div>
                  </h5>
                  <p class="mb-0 py-0"><%= row.street %>,<%= row.city %>,<%= row.state  %></p>
                  <div class="d-flex justify-content-between mt-3 mb-2">
                    <button type="button" class="btn btn-primary mb-3 " data-toggle="modal" data-target="#edit_<%= row._id %>" style="font-weight: bold;">
                      Edit address
                    </button>
                    
                      
                    
                    <a href="/user/userprofile/address/delete/<%= row._id  %>">
                      <i class="bi bi-trash text-danger"></i>
                    </a>
                    
                  </div>
                  <form action="/user/userprofile/address/setdefault/<%= row._id %>" method="post">
                  <% if(row.main){ %>
                    <input id="radio" type="radio" name="main" checked value="<%= row.name %>" onchange="this.form.submit()">
                  <% }else{%>
                    <input id="radio" type="radio" name="main" value="<%= row.name %>" onchange="this.form.submit()">
                  <% } %>
                  <label for="radio">Set as default</label>
                 
                </form>
                </div>
                
              </div>
            </div>
            <% })} %>
            
            

            <!-- Button trigger modal -->
          

            
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Create new address</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                                       
                    <form action="/user/userprofile/address" method="post">
                      <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" name="name" class="form-control bg-light" id="name"
                            placeholder="Enter your name" required />
                      </div>
                      <div class="form-group">
                        <label for="street">street:</label>
                        <input type="text" name="street" class="form-control bg-light" id="street"
                            placeholder="Entre street name" required />
                      </div>
                      <div class="form-group">
                        <label for="city">city:</label>
                        <input type="text" name="city" class="form-control bg-light" id="city"
                            placeholder="Enter the city" required />
                      </div>
                      <div class="form-group">
                        <label for="pincode">pincode:</label>
                        <input type="number" name="pincode" class="form-control bg-light" id="pincode"
                            placeholder="Enter pincode" required />
                      </div>
                      <div class="form-group">
                        <label for="state">state:</label>
                        <input type="text" name="state" class="form-control bg-light" id="state"
                            placeholder="Enter the state" required />
                      </div>
                      <div class="form-group">
                        <label for="mobile">mobile:</label>
                        <input type="number" name="mobile" class="form-control bg-light" id="mobile"
                            placeholder="Enter phone no." required />
                      </div>
                      <div class="d-flex justify-content-center mb-3">
                        <button type="submit" class="btn btn-primary mt-3 mb-0">Add Address</button>
                      </div>
                    </form>
                   
                  </div>
                  
                </div>
              </div>
            </div>
            <% if(address){ %>
            <% address.forEach((row)=>{ %>
              <div class="modal fade" id="edit_<%= row._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Edit the address</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                                         
                      <form action="/user/userprofile/address/edit/<%= row._id  %>" method="post">
                        <div class="form-group">
                          <label for="name">Name:</label>
                          <input type="text" name="name" class="form-control bg-light" id="name"
                              value="<%= row.name %> " required />
                        </div>
                        <div class="form-group">
                          <label for="street">street:</label>
                          <input type="text" name="street" class="form-control bg-light" id="street"
                              value="<%= row.street %>" required />
                        </div>
                        <div class="form-group">
                          <label for="city">city:</label>
                          <input type="text" name="city" class="form-control bg-light" id="city"
                              value="<%= row.city %>" required />
                        </div>
                        <div class="form-group">
                          <label for="pincode">pincode:</label>
                          <input type="number" name="pincode" class="form-control bg-light" id="pincode"
                              value="<%= row.pincode %>" required />
                        </div>
                        <div class="form-group">
                          <label for="state">state:</label>
                          <input type="text" name="state" class="form-control bg-light" id="state"
                              value="<%= row.state %>" required />
                        </div>
                        <div class="form-group">
                          <label for="mobile">mobile:</label>
                          <input type="number" name="mobile" class="form-control bg-light" id="mobile"
                              value="<%= row.mobile %>" required />
                        </div>
                        <div class="d-flex justify-content-center mb-3">
                          <button type="submit" class="btn btn-primary mt-3 mb-0">Edit Address</button>
                        </div>
                      </form>
                     
                    </div>
                    
                  </div>
                </div>
              </div>
        

            <% }) %>
            <% } %>
          

          </div>
        </div><!-- End Left side columns -->

      

      </div>
    </section>

  </main><!-- End #main -->


 
 




  <!-- Footer Start -->
  
  <!-- Footer End -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

  <!-- Back to Top -->
  <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


<%- include('../essentials/userFooter') %>